/* Photo by <a href="/photographer/azjack2008-61100">Jack Sanders</a> from <a href="https://freeimages.com/">FreeImages</a> */

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1em;
    background-color: #454545;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.image-width-100 {
    width: 100%;
}

/* main-section */

.main-section {
    min-width: 250px;
}

.main-section-title {
    color: #536130;
    min-width: 250px;
    font-size: 2em;
}

.main-section-subtitle {
    color: #2F3D0D;
    font-weight: 800;
    min-width: 250px;
    font-size: 1.6em;
    margin: 10px;
}

.main-section-titles {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}

/* secondary-section */

.second-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.second-section-item {
    width: 25vw;
    min-width: 250px;
    margin: 10px;
}

.second-section img {
    border: 10px solid #6F6F6F;
}

@media screen and (max-width: 900px) {
    .second-section-item {
        width: 40vw;
    }
}

@media screen and (max-width: 700px) {
    .second-section-item {
        width: 80vw;
    }
}

/* tertiary-section */

.third-section {
    background-color: #6f6f6f;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.third-section img {
    width: 30vw;
    min-width: 300px;
    border: 10px solid #343434;
    border-radius: 50%;
    align-self: center;
    margin: 10px;
}

.third-section-texts {
    width: 60vw;
    min-width: 300px;
    text-align: justify;
    margin: 10px;
}

.third-section p {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .third-section img {
        width: 60vw;
    }
    .third-section-texts {
        width: 90vw;
    }
}

@media screen and (max-width: 600px) {
    .third-section img {
        width: 80vw;
    }
}

/* footer  */

.footer {
    margin: 30px;
}