/* Photo by <a href="/photographer/azjack2008-61100">Jack Sanders</a> from <a href="https://freeimages.com/">FreeImages</a> */
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1em;
}

.uppercase {
    text-transform: uppercase;
}

/* main section */

.main-section {
    background-color: darkgreen;
}

.main-section-title {
    color: #536130;
}

.main-section-subtitle {
    color: #2F3D0D;
    font-weight: 800;
}

.main-section-image {
    width: 100%;
}

.main-section-titles {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}

/* secondary-section */

.secondary-section {
    background-color: #454545;
}